body {
	font-family: Economica;
	font-weight: bold;
	font-size: 20px;
	color: #fff;
}

div {
	width: 100%;
	background-color: rgb(141, 67, 202);
}

ul {
	width: 900px;
	margin: auto;
	list-style-type: none;
	text-align: center;
}

li {
	line-height: 1.8em;
	display: inline-block;
	padding: 0 13px;
}

li:hover {
	color: grey;
	background-color: rgb(230, 230, 230);
	box-shadow: 0 0 0 1px rgba(161, 161, 161, 0.5);
}
