body {
	font-family: Economica;
	font-size: 22px;
	font-weight: bold;
	color: white;
}

div {
	background-color: rgb(139, 34, 199);
	height: 40px;
	width: 100%;
}

ul {
	list-style: none;
	width: 900px;
	margin: 0 auto;
}

ul li {
	line-height: 1.8em;
	float: left;
	padding: 0 15px;
}

ul li:hover {
	background-color: rgb(228, 228, 228);
	color: rgb(156, 156, 156);
	box-shadow: 5px 3px 3px rgba(0, 0, 0, 0.3);
}

ul li:first-child {
	margin-left: auto;
}
