/* font-family: 'Open Sans',
sans-serif;
font-family: 'Source Sans Pro',
sans-serif;


width: 1050px;
*/

body {
	font-family: 'Open Sans', sans-serif;
}

/* Чердак */

header{
	max-width: 1200px;
	margin: auto;
	height: 70px;
}

header .container{
	position: relative;
	width: 900px;
	margin: -5px auto 0 auto;
}

h1{
	font-weight: 400;
	color: #ef8129;
}

h1 span{
	font-weight: 800;
	font-size: 38px;
	color: #3070a8;
	padding-left: 5px;
}

header .mainmenu{
	list-style-type: none;
	position: absolute;
	top: 0;
	right: 0;

	text-transform: uppercase;
}

header .mainmenu li{
	display: inline-block;

	font-size: 14px;
	font-weight: 600;
	color: #989898;

	line-height: 3.5em;
	padding: 0 12px;
}
.mainmenu a{
	text-decoration: none;
	color: #989898;
}

.mainmenu li:hover{
	border-bottom: 5px solid #3070a8;
}
.mainmenu li:hover > a{
	color: #3070a8;
}

/* Приветственный экран */

.first.background{
	min-width: 900px;
	max-width: 1200px;
	height: 585px;

	margin: -23px auto 0 auto;

	background-image: url(back1.png);
	background-position: center;

	color: white;
}

.first p,
.first h2{
	text-align: center;
}

.first p:first-child{
	padding-top: 130px;
	font-size: 23px;
	font-weight: lighter;
	letter-spacing: 1px;
	margin-bottom: 0;
}
.first p strong{
	font-weight: lighter;
	font-size: 30px;
}
.first h2{
	margin: auto;
	width: 850px;
	text-transform: uppercase;
	font-size: 45px;
}
.first .description{
	width: 600px;
	margin: auto;
	margin-top: 30px;
}

.first .btn{
	background-color: transparent;
	color: white;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 1px;
	padding: 20px 55px;
	border: 1px solid rgba(255, 255, 255, 0.4);
	display: block;
	margin: 40px auto 0 auto;
	cursor: pointer;
}

/* Преимущества */

.advantages{
	width: 900px;
	height: 570px;

	margin: -21px auto 0;
}

.advantages h2{
	text-transform: uppercase;
	font-weight: 600;
	font-size: 25px;
	text-align: center;

	padding-top: 60px;
	margin-bottom: 60px;
}

.advantages .item1,
.advantages .item2,
.advantages .item3{
	display: inline-block;
	width: 28%;
	text-align: center;
	margin: 0px 2%;
}

.advantages .item1{
	margin-left: 30px;
}

.advantages h3{
	text-transform: uppercase;
	font-weight: normal;
	font-size: 24px;
	margin: 10px 0px;
	color: #3070a8;
}

.advantages p{
	color: #999999;
	font-size: 14px;
}

/* Описание */

.block.four {
	min-width: 900px;
	max-width: 1200px;
	height: 580px;

	margin: -50px auto 0px auto;

	background-image: url(description.png);
	background-position: right;
}

.block.four .content{
	width: 700px;
	padding-left: 120px;
}

.block.four h3{
	color: #ee8129;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: 600;
	line-height: 1.6em;

	padding-top: 70px;
}

.block.four p{
	color: white;
	font-style: italic;
	font-style: 22px;
}

.block.four ul li{
	width: 90%;
	color: #9d9d9d;
	font-size: 15px;
	line-height: 2em;
	margin: 20px 0px;
}

.block.four ul li:nth-child(even){
color: #3070a8;
}

/* Offers */

.block-offers {
	font-family: "Source Sans Pro", sans-serif;
	min-width: 900px;
}
.block-offers h1 {
	text-align: center;
	color: rgba(54, 73, 84, 255);
	margin-bottom: 50px;
	margin-top: 50px;
}

.block-offers .offer {
	position: relative;
	background-color: red;
}

.block-offers .card {
	width: 300px;
	height: 450px;
	border: 1px solid rgba(107, 107, 107, 0.1);
	border-radius: 6px;
	overflow: hidden;
}

.block-offers .card.one {
	position: absolute;
	left: 50%;
	margin-left: -452px;
}

.block-offers .card.two {
	position: absolute;
	left: 50%;
	margin-left: -151px;
}

.block-offers .card.three {
	position: absolute;
	left: 50%;
	margin-left: 151px;
}

.block-offers .disclaimer {
	text-align: center;
	color: white;
	font-size: 23px;
	letter-spacing: 2px;
	font-weight: bold;
	padding: 18px 0 18px 0;
}

.card.one .disclaimer {
	background-color: rgba(42, 194, 213, 255);
}
.card.two .disclaimer {
	background-color: #ee8129;
}
.card.three .disclaimer {
	background-color: rgba(19, 184, 154, 255);
}

.block-offers .main {
	background-color: white;
	width: 300px;
	height: 300px;
	color: #35495a;
}

.block-offers .main div {
	text-align: center;
}

.block-offers .title {
	font-size: 24px;
	margin: 20px 0 0 0;
	position: relative;
}

.price.sign {
	position: absolute;
	left: 72px;
	top: 137px;
	font-size: 22px;
	font-weight: bold;
}

.price.per {
	position: absolute;
	left: 170px;
	top: 190px;
	font-size: 18px;
	font-weight: bold;
}

.price.number {
	font-size: 80px;
	font-weight: bold;
	text-align: left;
	margin-left: -30px;
	margin-top: 0;
}

.block-offers ul {
	margin: 20px 0 0 -25px;
	list-style-type: none;
	text-align: left;
	width: 270px;
	color: rgba(53, 73, 90, 0.8);
}

.block-offers ul li {
	margin: 1px 0;
	line-height: 2em;
	box-sizing: border-box;
	padding-left: 40px;
}

.block-offers ul li:nth-child(odd) {
	background-color: #edf5fd;
}
.block-offers ul li:nth-child(even) {
	background-color: #f5f5f6;
}

.block-offers ul li:before {
	content: "";
	width: 16px;
	height: 16px;
	display: inline-block;
	background-image: url(arrow.jpg);
	background-size: 16px 16px;
	margin-right: 15px;
}

.block-offers input {
	width: 260px;
	height: 40px;
	margin-left: 20px;
	margin-top: 20px;
	background-color: rgba(47, 112, 168, 255);
	border: none;
	color: white;
	font-weight: bold;
	letter-spacing: 1px;
	border-radius: 5px;
	border-bottom: 3px solid rgba(6, 56, 99, 255);
}

.block-offers input:hover {
	cursor: pointer;
}

.card.one:hover {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
	border: 4px solid rgba(42, 194, 213, 255);
	border-radius: 4px;
	margin-left: -455px;
	top: -3px;
	z-index: 2;
}
.card.one:hover input {
	background-color: rgba(42, 194, 213, 255);
	border-bottom: 3px solid rgb(29, 127, 139);
}

.card.two:hover {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
	border: 4px solid rgba(239, 129, 40, 255);
	border-radius: 4px;
	z-index: 2;
	margin-left: -154px;
	top: -3px;
}
.card.two:hover input {
	background-color: rgba(239, 129, 40, 255);
	border-bottom: 3px solid rgba(175, 77, 8, 255);
}

.card.three:hover {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
	border: 4px solid #13b89a;
	border-radius: 4px;
	margin-left: 148px;
	top: -3px;
	z-index: 2;
}
.card.three:hover input {
	background-color: #13b89a;
	border-bottom: 3px solid #0e816c;
}

.buffer {
	margin-top: 450px;
	height: 100px;
}

/* ОТЗЫВЫ */

.testimonials {
	min-height: 300px;
	min-width: 900px;
	max-width: 1200px;
	background-image: url(t2\ bgi.png);
	background-repeat: repeat-y;
	background-position: center;
	margin: 0px auto;
}

.testimonials h2 {
	width: 100%;
	text-align: center;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 40px;
	font-weight: 500;
	color: #3273ad;
	padding-top: 30px;
}

.testimonials span.header {
	color: #e67d29;
}

.testimonials .main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: top;
}

.testimonials .customer {
	width: 500px;
	height: 100px;
	margin: 20px 25px;
}

.testimonials .customer:last-of-type {
	margin-bottom: 50px;
}

.testimonials img {
	float: left;
	height: 100px;
	width: 100px;
}

.testimonials .container {
	width: 370px;
	height: 100px;
	float: right;
	background-color: white;
	position: relative;
}

.testimonials .trianlge {
	width: 0;
	height: 0;
	position: relative;
	left: 96px;
	top: 39px;
	border-width: 12px 17px 12px 17px;
	border-style: solid;
	border-color: transparent white transparent transparent;
}

.testimonials .customername {
	position: absolute;
	left: 26px;
	top: -3px;
	color: #3273ad;
	font-style: italic;
}
.testimonials .customername::before {
	content: "- ";
	position: absolute;
	left: -12px;
	top: -1px;
}

.testimonials .type {
	position: absolute;
	right: 20px;
	top: -3px;
	color: #3273ad;
	font-style: italic;
}

.testimonials .container .bottom-border {
	height: 40px;
	width: 343px;
	margin: auto;

	background-image: linear-gradient(to right, black 33%, rgba(255, 255, 255, 0) 0%);
	background-position: bottom;
	background-size: 3px 1px;
	background-repeat: repeat-x;
}

.testimonials .container p.feedback{
	width: 340px;
	height: 2.3em;
	margin-left: 14px;
	margin-top: 10px;
	font-size: 15px;
	overflow-y: scroll;
	color: #616060;
}

/* Contact information */

.contacts{
	min-width: 900px;
	max-width: 1200px;
	height: 325px;
	margin: auto;
	display: flex;
	justify-content: flex-end;
}

.contacts .container{
	width: 900px;
	height: 100%;
	margin: auto;
}

.contacts .info{
	width: 100%;
	height: 100%;

	position: relative;

	box-sizing: border-box;
	padding-left: 120px;
	padding-top: 10px;
}

.contacts p{
	font-size: 14px;
	font-weight: 600;
	line-height: 2em;
	color: #666666;
}

.contacts .info .adress::before{
	content: url(icons/map_pointer.png);
	position: absolute;
	left: 75px;
}

.contacts .info .telephone::before {
	content: url(icons/phone.png);
	position: absolute;
	left: 75px;
	margin-top: 3px;
}

.contacts .info .email::before {
	content: url(icons/email.png);
	position: absolute;
	left: 75px;
	margin-top: 3px;
}

.contacts .info img{
	width: 48px;
	height: 48px;
	padding: 15px 8px;
}
.contacts .info a.first{
	margin-left: -65px;	
}

.contacts .map{
	width: 50%;
	height: 100%;
	overflow: visible;
}

#map_container{
	max-width: 600px;
	min-width: 450px;
	overflow: hidden;
}

.contacts .map img{
	width: 600px;
	height: 325px;
}

/* Footer */

footer{
	min-width: 900px;
	max-width: 1200px;
	height: 120px;
	margin: -14px auto 0px auto;

	text-align: center;
	font-size: 14px;
	color: white;

	background-color: #3070a8;
}

footer strong{
	font-weight: 600;
}

footer p:nth-child(1){
	padding-top: 32px;
}

footer p:nth-child(2) a{
	color: black;
	text-decoration: none;
}